In [1]:
#Import libraries
import pandas as pd
import os
import csv

In [2]:
#File paths
csv_path=os.path.join("","raw data","zip_town_population.csv")
csv_output_path=os.path.join("..","Final Output Data","zip_town_population_2.csv")

In [3]:
#Load csv file
df=pd.read_csv(csv_path,sep=':')

In [4]:
#Display results
df.head(5)

            a   b
0         Zip NaN
1        City NaN
2  Population NaN
3       08753 NaN
4  Toms River NaN

In [5]:
#Get the list from df column
x=df["a"].to_list()

In [6]:
#As all records on one column, loop through with step of 3
zip_code=[]
town=[]
population=[]
for i in range(3,len(x),3):
    zip_code.append(x[i])
    town.append(x[i+1])
    population.append(x[i+2])

In [7]:
#Export data to dataframe
df1=pd.DataFrame({"Zip Code":zip_code,"Township":town,"Population":population})

In [8]:
#Check results
df1.head()

  Zip Code    Township Population
0    08753  Toms River     55,159
1    08701    Lakewood     52,778
2    07055     Passaic     51,244
3    07002     Bayonne     49,850
4    07087  Union City     47,868

In [9]:
#Export to csv
df1.to_csv(csv_output_path)