In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import csv

In [2]:
# Read School Data File and store into Pandas Data Frames
school_data_df = pd.read_csv("../Final Output Data/schoolRank_data.csv")
school_data_df

,Unnamed: 0,School ID,School Name,City,Zip Code,Address,2018 Rank,2018 Rank Stars,2018 Rank Level,2018 Avg Score,2019 Rank,2019 Rank Stars,2019 Rank Level,2019 Avg Score,2019 Student Count,Low Grade,High Grade,School Level
0,0,341269004924,School 28,Paterson,7522,200 Presidential Boulevard,1,5,Elementary,98.61146,1.0,5.0,Elementary,98.13338,505.0,PK,8,Elementary
1,1,340933000596,George Washington School,Mahwah,7430,39 Fardale Avenue,1,5,Elementary,98.61146,1.0,5.0,Elementary,98.13338,NaN,K,3,Elementary
2,2,340074603143,Thomas Edison EnergySmart Charter School,Somerset,8873,150 Pierce Street,1,5,Elementary,98.61146,1.0,5.0,Elementary,98.13338,NaN,K,10,Other
3,3,341638000143,Sara M. Gilmore Academy,Union City,7087,1700 Kerrigan Avenue,1,5,Elementary,98.61146,1.0,5.0,Elementary,98.13338,NaN,1,8,Elementary
4,4,340459005524,William F. Halloran School No.22,Elizabeth,7202,612 Pulaski Street,1,5,Elementary,98.61146,1.0,5.0,Elementary,98.13338,NaN,2,8,Middle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2507,9,340264001346,Camden High School,Camden,8103,1875 Park Boulevard,401,0,High,8.48558,407.0,0.0,High,8.50347,NaN,9,12,High
2508,10,341269003105,School of Government and Public Administration,Paterson,7501,150 Park Avenue,401,0,High,8.48558,407.0,0.0,High,8.50347,NaN,9,12,High
2509,11,341134003227,Eagle Academy for Young Men of Newark,Newark,7112,279 Chancellor Avenue,401,0,High,8.48558,407.0,0.0,High,8.50347,NaN,5,12,High
2510,12,340244003303,Burlington County Alternative High School,Mount Laurel,8054,1020 Briggs Road,401,0,High,8.48558,407.0,0.0,High,8.50347,NaN,6,12,High
2511,13,340002200285,Marion P. Thomas Charter School,Newark,7102,88-108 Shipman Street,401,0,High,8.48558,407.0,0.0,High,8.50347,NaN,PK,12,Other

In [3]:
#checking the data type for each column
school_data_df.dtypes

Unnamed: 0              int64
School ID               int64
School Name            object
City                   object
Zip Code                int64
Address                object
2018 Rank               int64
2018 Rank Stars         int64
2018 Rank Level        object
2018 Avg Score        float64
2019 Rank             float64
2019 Rank Stars       float64
2019 Rank Level        object
2019 Avg Score        float64
2019 Student Count    float64
Low Grade              object
High Grade              int64
School Level           object
dtype: object

In [4]:
#checking the number of records
school_data_df.count()

Unnamed: 0            2512
School ID             2512
School Name           2512
City                  2512
Zip Code              2512
Address               2512
2018 Rank             2512
2018 Rank Stars       2512
2018 Rank Level       2512
2018 Avg Score        2512
2019 Rank             2412
2019 Rank Stars       2412
2019 Rank Level       2412
2019 Avg Score        2412
2019 Student Count      52
Low Grade             2512
High Grade            2512
School Level          2512
dtype: int64

### Number of Records
    '2019 Rank, Rank Stars, Rank Level, and Avg Score' have 100 data points less than the other column values, 
whereas '2019 student count' is missing most of the values

In [5]:
#Discarding rows with no Rank value for 2019
school_data_df =school_data_df[~school_data_df['2019 Rank'].isnull()]
school_data_df

,Unnamed: 0,School ID,School Name,City,Zip Code,Address,2018 Rank,2018 Rank Stars,2018 Rank Level,2018 Avg Score,2019 Rank,2019 Rank Stars,2019 Rank Level,2019 Avg Score,2019 Student Count,Low Grade,High Grade,School Level
0,0,341269004924,School 28,Paterson,7522,200 Presidential Boulevard,1,5,Elementary,98.61146,1.0,5.0,Elementary,98.13338,505.0,PK,8,Elementary
1,1,340933000596,George Washington School,Mahwah,7430,39 Fardale Avenue,1,5,Elementary,98.61146,1.0,5.0,Elementary,98.13338,NaN,K,3,Elementary
2,2,340074603143,Thomas Edison EnergySmart Charter School,Somerset,8873,150 Pierce Street,1,5,Elementary,98.61146,1.0,5.0,Elementary,98.13338,NaN,K,10,Other
3,3,341638000143,Sara M. Gilmore Academy,Union City,7087,1700 Kerrigan Avenue,1,5,Elementary,98.61146,1.0,5.0,Elementary,98.13338,NaN,1,8,Elementary
4,4,340459005524,William F. Halloran School No.22,Elizabeth,7202,612 Pulaski Street,1,5,Elementary,98.61146,1.0,5.0,Elementary,98.13338,NaN,2,8,Middle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2507,9,340264001346,Camden High School,Camden,8103,1875 Park Boulevard,401,0,High,8.48558,407.0,0.0,High,8.50347,NaN,9,12,High
2508,10,341269003105,School of Government and Public Administration,Paterson,7501,150 Park Avenue,401,0,High,8.48558,407.0,0.0,High,8.50347,NaN,9,12,High
2509,11,341134003227,Eagle Academy for Young Men of Newark,Newark,7112,279 Chancellor Avenue,401,0,High,8.48558,407.0,0.0,High,8.50347,NaN,5,12,High
2510,12,340244003303,Burlington County Alternative High School,Mount Laurel,8054,1020 Briggs Road,401,0,High,8.48558,407.0,0.0,High,8.50347,NaN,6,12,High
2511,13,340002200285,Marion P. Thomas Charter School,Newark,7102,88-108 Shipman Street,401,0,High,8.48558,407.0,0.0,High,8.50347,NaN,PK,12,Other

In [6]:
#checking the count after removing rows with null values
school_data_df.count()

Unnamed: 0            2412
School ID             2412
School Name           2412
City                  2412
Zip Code              2412
Address               2412
2018 Rank             2412
2018 Rank Stars       2412
2018 Rank Level       2412
2018 Avg Score        2412
2019 Rank             2412
2019 Rank Stars       2412
2019 Rank Level       2412
2019 Avg Score        2412
2019 Student Count      50
Low Grade             2412
High Grade            2412
School Level          2412
dtype: int64

In [7]:
#Extracting data for school year 2019
school_data_2019=school_data_df.drop(columns=['2018 Rank', '2018 Rank Stars', '2018 Rank Level', '2018 Avg Score',
                                              'School Name', 'Address','Low Grade','High Grade', '2019 Student Count',
                                             '2019 Rank Stars'])
school_data_2019

,Unnamed: 0,School ID,City,Zip Code,2019 Rank,2019 Rank Level,2019 Avg Score,School Level
0,0,341269004924,Paterson,7522,1.0,Elementary,98.13338,Elementary
1,1,340933000596,Mahwah,7430,1.0,Elementary,98.13338,Elementary
2,2,340074603143,Somerset,8873,1.0,Elementary,98.13338,Other
3,3,341638000143,Union City,7087,1.0,Elementary,98.13338,Elementary
4,4,340459005524,Elizabeth,7202,1.0,Elementary,98.13338,Middle
...,...,...,...,...,...,...,...,...
2507,9,340264001346,Camden,8103,407.0,High,8.50347,High
2508,10,341269003105,Paterson,7501,407.0,High,8.50347,High
2509,11,341134003227,Newark,7112,407.0,High,8.50347,High
2510,12,340244003303,Mount Laurel,8054,407.0,High,8.50347,High
2511,13,340002200285,Newark,7102,407.0,High,8.50347,Other

In [8]:
#exporting 2019 data to csv
school_data_2019.to_csv("../Final Output Data/school_data_2019.csv")

In [9]:
#top 10 performing schools of 2019
school_data_2019_sorted=school_data_2019.sort_values('2019 Rank')
school_data_2019_sorted.head(10)

,Unnamed: 0,School ID,City,Zip Code,2019 Rank,2019 Rank Level,2019 Avg Score,School Level
0,0,341269004924,Paterson,7522,1.0,Elementary,98.13338,Elementary
1382,26,341611000872,Tenafly,7670,1.0,High,96.08451,Middle
1383,27,340783000142,Jersey City,7305,1.0,High,96.08451,Middle
1384,28,341590005710,Summit,7901,1.0,High,96.08451,Middle
1386,30,341473004098,Sea Girt,8750,1.0,High,96.08451,Elementary
1387,31,340076703251,Jersey City,7307,1.0,High,96.08451,Elementary
1388,32,340216005154,Branchburg,8876,1.0,High,96.08451,Middle
1389,33,341104005588,Mountainside,7092,1.0,High,96.08451,Middle
1390,34,340477000406,Englewood Cliffs,7632,1.0,High,96.08451,Middle
1391,35,340165005126,Basking Ridge,7920,1.0,High,96.08451,Middle

In [10]:
#Bottom 10 schools
school_data_2019_bottom=school_data_2019.sort_values('2019 Rank', ascending=False)
school_data_2019_bottom.head(10)

,Unnamed: 0,School ID,City,Zip Code,2019 Rank,2019 Rank Level,2019 Avg Score,School Level
1354,4,341314005626,Plainfield,7060,1336.0,Elementary,2.11170,Elementary
1353,3,340093003301,Asbury Park,7712,1336.0,Elementary,2.11170,Elementary
1352,2,340264001406,Camden,8104,1336.0,Elementary,2.11170,Elementary
1351,1,340093003740,Asbury Park,7712,1336.0,Elementary,2.11170,Elementary
1350,0,340264003065,Camden,8105,1336.0,Elementary,2.11170,Elementary
1355,5,341629003123,Trenton,8638,1336.0,Elementary,2.11170,Elementary
1318,18,340453000074,Egg Harbor City,8215,1297.0,Elementary,4.89074,Elementary
1314,14,341269004912,Paterson,7504,1297.0,Elementary,4.89074,Elementary
1315,15,341134002304,Newark,7108,1297.0,Elementary,4.89074,Elementary
1316,16,341269004902,Paterson,7501,1297.0,Elementary,4.89074,Elementary

In [12]:
#Average rank of the school by the zip code
avg_rank_zip=school_data_2019.groupby(['Zip Code']).mean()[['2019 Rank','2019 Avg Score']]
avg_rank_zip

           2019 Rank  2019 Avg Score
Zip Code
7001      850.666667       29.484637
7002      508.826087       52.059573
7003      436.222222       61.299558
7004      176.000000       85.212410
7005      169.000000       78.798260
...              ...             ...
8887      142.000000       86.896050
8889      178.000000       79.214280
8901      850.058824       23.938881
8902      603.400000       42.469880
8904      429.666667       48.441497

[517 rows x 2 columns]

In [13]:
avg_rank_zip.to_csv("../Final Output Data/avg_rank_zip_2019.csv")

In [14]:
avg_rank_city=school_data_2019.groupby(['City']).mean()[['2019 Rank', '2019 Avg Score']]
avg_rank_city

                    2019 Rank  2019 Avg Score
City
Aberdeen            95.500000       81.675620
Absecon            673.500000       39.107800
Allamuchy          590.500000       51.341520
Allendale            3.000000       97.112427
Allentown          149.666667       77.322367
...                       ...             ...
Woodstown          204.000000       61.608240
Woolwich Township  599.000000       58.486710
Woolwich Twp       114.500000       74.835670
Wrightstown        691.333333       46.425743
Wyckoff            171.800000       84.552204

[530 rows x 2 columns]

In [15]:
avg_rank_city.to_csv("../Final Output Data/avg_rank_city_2019.csv")